<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>{% block metaTitle %}{% endblock metaTitle %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="DUBOURG Mathias" />
    <meta name="description" content="Création" />
    <meta
            name="keywords"
            content="bijoux,bois,textile,broderie,album,photo,métal,perle,tissus,jouet
    fantaisie,bougie,peinture"
    />
    <link rel="stylesheet" href="{{ asset('style.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">



</head>

<body>
   <header>
       <div class="first-head">
           <div class="logo ">
               <a href={{ path ('home') }}><img src={{ asset ('medias/logo.png') }}  class="resp"  alt="logo"></a>
           </div>

           <form id="recherche" class=" formR flex ">
               <label for="recherche"></label>
               <input type="search" name="recherche" id="search" placeholder="EX: Profil, Deco, Chaise..." >
               <button type="submit">Recherche</button>
           </form>
           <div>
               {% if app.user %}
                   <div class="mb-2">
                       <p><strong>Bienvenue: </strong> {{ app.user.name }}</p>
                       {% if app.user.roles[0] == "ROLE_ADMIN" %}
                           <p><a href="{{ path('admin_home') }}">Mon espace</a> </p>
                           {% else %}
                           <p><a href="{{ path('user_home') }}">Mon espace</a> </p>
                        {% endif %}

                       <p><a href="{{ path('app_logout') }}">Se déconnecter</a></p>
                   </div>
               {% endif %}
           </div>

           {% if app.user is null %}
           <div class="connection ">
                   <p class="conect"><a href="{{ path ('app_login') }}"> Se connecter</a></p>
                   <p class="creat"><a href="{{ path('front_insert_user') }}">Creer un compte</a></p>
           </div>
           {% endif  %}
       </div>

       <nav id="nav-head">
           <ul class="flex nopad">
               <li><a href={{ path('home') }}> Acceuil</a></li>

               {% for categorie in categories.getAll() %}
                   <li><a href="{{ path('categorie_show', {'id': categorie.id}) }}">{{ categorie.title }}</a></li>
               {% endfor %}
           </ul>
       </nav>

       <div id="side-bar">
           <div class="toggle-btn" id="btn">
               <span></span>
               <span></span>
               <span></span>
           </div>

           <ul>
               <li><a href={{ path('home') }}> Acceuil</a></li>

               {% for categorie in categories.getAll() %}
                   <li><a href="{{ path('categorie_show', {'id': categorie.id}) }}">{{ categorie.title }}</a></li>
               {% endfor %}
           </ul>
       </div>


   </header>

   <main>
       {% block main %}{% endblock main %}
   </main>

   <footer class="text-center text-white">
       <!-- Grid container -->
       <div class="container pt-4 ">
           <!-- Section: Social media -->
           <section class="mb-4">
               <!-- Facebook -->
               <a
                       class="btn btn-link btn-floating btn-lg text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark"
               ><i class="fab fa-facebook-f"></i
                   ></a>

               <!-- Twitter -->
               <a
                       class="btn btn-link btn-floating btn-lg text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark"
               ><i class="fab fa-twitter"></i
                   ></a>

               <!-- Google -->
               <a
                       class="btn btn-link btn-floating btn-lg text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark"
               ><i class="fab fa-google"></i
                   ></a>

               <!-- Instagram -->
               <a
                       class="btn btn-link btn-floating btn-lg text-dark m-1"
                       href="#!"
                       role="button"
                       data-mdb-ripple-color="dark"
               ><i class="fab fa-instagram"></i
                   ></a>

           </section>
           <!-- Section: Social media -->
       </div>
       <!-- Grid container -->

       <div class="text-center text-dark p-3 mention">
           <a class="text-dark" href="#">Mentions légales</a>
       </div>
   </footer>

   <script src="{{ asset('index.js') }}"></script>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
           integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
           crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
           integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
           crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
           integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
           crossorigin="anonymous"></script>
   <script src="https://kit.fontawesome.com/f3c132fc32.js" crossorigin="anonymous"></script>
</body>
</html>